#============= hal_dpmQmiMgr ==============
allow hal_dpmQmiMgr sysfs:file { open read };

#============= hal_graphics_composer_default ==============
allow hal_graphics_composer_default persist_data_file:dir search;

#============= hal_sensors_default ==============
allow hal_sensors_default persist_data_file:dir search;

#============= hwservicemanager ==============
allow hwservicemanager init:file open;
allow hwservicemanager init:process getattr;

#============= init ==============
allow init default_android_hwservice:hwservice_manager add;
allow init netmgrd_socket:sock_file write;
allow init self:netlink_tcpdiag_socket { bind create getopt setopt };
allow init self:udp_socket ioctl;

#============= vndservicemanager ==============
allow vndservicemanager init:dir search;
allow vndservicemanager init:file { open read };
allow vndservicemanager init:process getattr;
