#============= cnd ==============
allow cnd default_android_hwservice:hwservice_manager add;

#============= hal_rcsservice ==============
allow hal_rcsservice sysfs:file { open read };

#============= ims ==============
allow ims sysfs:file { open read };

#============= netmgrd ==============
allow netmgrd default_prop:property_service set;
allow netmgrd init:unix_stream_socket connectto;
allow netmgrd property_socket:sock_file write;

#============= rmt_storage ==============
allow rmt_storage debugfs:file { open write };

#============= shell ==============
allow shell hal_telephony_hwservice:hwservice_manager add;
allow shell hidl_base_hwservice:hwservice_manager add;
allow shell kernel:system syslog_read;
allow shell rild_exec:file execute_no_trans;
allow shell self:socket getattr;
allow shell sysfs:file { open read };
allow shell vendor_per_mgr_service:service_manager find;

#============= hal_dpmQmiMgr ==============
allow hal_dpmQmiMgr sysfs:file { open read };

#============= hal_imsrtp ==============
allow hal_imsrtp sysfs:file { open read };

#============= init ==============
allow init node:tcp_socket node_bind;
allow init self:tcp_socket bind;
allow init diag_device:chr_file { read write ioctl };

#============= sensors ==============
allow sensors self:capability dac_override;

#============= thermal-engine ==============
allow thermal-engine self:capability dac_override;

#============= qti_init_shell ==============
allow qti_init_shell self:capability dac_override;
allow qti_init_shell system_data_file:dir { add_name create write read open getattr setattr };
allow qti_init_shell vendor_radio_data_file:dir { add_name create write read open getattr setattr };

#============= init ==============
allow init sysfs:file read;
