#============= audioserver ==============
allow audioserver vendor_audio_data_file:dir { add_name write };
allow audioserver vendor_audio_data_file:file { append create open read getattr };

#============= shell ==============
allow shell self:socket { read write ioctl create };
allow shell sysfs:file getattr;
allow shell vendor_radio_data_file:dir getattr;
allow shell vendor_radio_prop:file { getattr open read };
allow shell vndbinder_device:chr_file { ioctl open read write };
allow shell vndservicemanager:binder call;
allow shell vendor_per_mgr:binder { transfer call };
allow shell radio_prop:property_service set;
allow shell vendor_radio_prop:property_service set;

#============= vndservicemanager ==============
allow vndservicemanager shell:dir search;
allow vndservicemanager shell:file { open read };
allow vndservicemanager shell:process getattr;
allow vndservicemanager shell:binder transfer;

#============= hal_memtrack_default ==============
allow hal_memtrack_default debugfs:file { getattr open read };

#============= tee ==============
allow tee gatekeeper_data_file:dir { add_name open write };
allow tee gatekeeper_data_file:file getattr;
allow tee system_data_file:dir { open read };

#============= hal_gnss_qti ==============
allow hal_gnss_qti qmuxd_socket:dir write;
