#============= qti_init_shell ==============
allow qti_init_shell sysfs:file { setattr write };
allow qti_init_shell sysfs_devfreq:file setattr;
allow qti_init_shell sysfs_devices_system_cpu:file setattr;
allow qti_init_shell sysfs_msm_power:file setattr;
allow qti_init_shell vendor_radio_data_file:file { create read open write getattr setattr };
allow qti_init_shell default_prop:property_service set;
allow qti_init_shell kmsg_device:chr_file { open write };
allow qti_init_shell system_prop:property_service set;

#============= hal_gnss_qti ==============
allow hal_gnss_qti qmuxd_socket:dir { add_name remove_name };
allow hal_gnss_qti qmuxd_socket:sock_file { create unlink };

#============= tee ==============
allow tee gatekeeper_data_file:file { create write };
