#============= dataservice_app ==============
allow dataservice_app default_android_hwservice:hwservice_manager find;

#============= hal_sensors_default ==============
allow hal_sensors_default sysfs:file { open read };

#============= qti ==============
allow qti sysfs:file { open read };

#============= surfaceflinger ==============
allow surfaceflinger default_android_service:service_manager { add find };
allow surfaceflinger hal_display_config_hwservice:hwservice_manager add;

#============= cnd ==============
allow cnd sysfs:file { open read };

#============= hal_sensors_default ==============
allow hal_sensors_default sysfs:file { getattr write };

#============= audioserver ==============
allow audioserver vendor_audio_data_file:dir search;
allow audioserver efs_file:dir search;

#============= qti_init_shell ==============
allow qti_init_shell ctl_start_prop:property_service set;
allow qti_init_shell ctl_stop_prop:property_service set;
allow qti_init_shell vendor_radio_data_file:dir search;

#============= surfaceflinger ==============
allow surfaceflinger sysfs_leds:dir search;
allow surfaceflinger mnt_vendor_file:dir search;
allow surfaceflinger display_vendor_data_file:dir search;
allow surfaceflinger persist_display_file:dir search;
