allow cameraserver unlabeled:file { getattr open read };
allow cameraserver system_prop:property_service set;
allow cameraserver socket_device:sock_file write;
allow cameraserver sysfs_camera:dir search;
