allow hal_lineage_touch_default sysfs_touchkey:dir search;
allow hal_lineage_touch_default sysfs_touchkey:lnk_file read;
allow hal_lineage_touch_default sysfs_touchkey:file { open read write };

allow hal_lineage_touch_default sysfs:file { open read write };
