# communicate with perfd 
allow hal_camera perfd_data_file:dir search;
allow hal_camera perfd:unix_stream_socket connectto;
allow hal_camera perfd_data_file:sock_file write;

allow hal_camera_default camera_data_file:sock_file write;

allow hal_camera_default csc_prop:file { getattr open read };

allow hal_camera_default sec_camera_prop:file { getattr open read };
allow hal_camera_default sec_camera_prop:property_service set;

allow hal_camera_default sysfs_camera_writable:dir search;
allow hal_camera_default sysfs_camera_writable:file { getattr open read };
allow hal_camera_default sysfs:file { getattr open read write };
