allow hvdcp sysfs:file { open read };
allow hvdcp sysfs:dir write;

dontaudit hvdcp self:capability dac_override;

r_dir_file(hvdcp, sysfs_batteryinfo)
