allow system_app proc_pagetypeinfo:file { getattr open read };

allow system_app sysfs_zram:dir search;
allow system_app sysfs_zram:file { open read getattr };

allow system_app system_suspend_control_internal_service:service_manager find;
allow system_app system_suspend_control_service:service_manager find;

allow system_app hal_power_default:binder call;

allow system_app installd:binder call;

allow system_app netd:binder call;
